@import "partials/variables";
@import "partials/fonts";
@import "partials/rules";
@import "../../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
//===============main scss=====================================
html{
	font-size:1vw;
}

body{
	width: 100%;

	.wrapper_all{
		width: 66.66666666%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3.3%;
		padding-right: 3.3%;
	}
}

header{
	width: 100%;
	background: transparent url(../img/Back_header.jpg) center no-repeat;
	background-size: 100%;

}

.container{
	width: 100%;
	position: relative;
	z-index: 100;
}

.top_position{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1.65%;
	padding-bottom: 1.65%;
}

.secrch{
	width: 2.8%;
	transform:translate3D(12%, 12%, 0);
		
	svg{
		width: 100%;
		fill:#fff;
	}
}

.logo{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 4.3%;
	transform:translate3D(100%, 5%, 0);
	img{
		width: 100%;
	}
}

.one_element{
	display: flex;
	align-items: normal;
	justify-content: flex-end;
	width: 10%;

	a{
		svg{
			fill:$wc;
		}
		
		&.my_profile{
			width: 28%;
			transform:translate3D(-110%, 5%, 0px);
		}

		&.log_out{
			width: 28%;
			transform:translate3D(40%, 10%, 0px);
		}
	}
}

.fluid_container{
	display: flex;
	justify-content: center;
	width: 100%;
}

.left_info{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	background: $slv;
	width: 38%;

	.name_link{
		width: 55.5%;
		display: flex;
		padding-top: 6.6%;
		padding-left: 12%;

		.avatar_for_proile{
			width: 21%;
			height: 2.9em;
			position: relative;

			&:before{
				content:"";
				position: absolute;
				left: auto;
				top: 0;
				right: 0;
				width: 22%;
				height: .7em;
				background: $green;
				border-radius:20px;
			}

			img{
				width: 100%;
			}
		}

		.name_profile{
			font-size:.95rem;
			text-decoration: none;
			color:$dark;
			font-weight: normal;
			padding-top: 7%;
			padding-left: 7%;
		}
	}

	nav.nav{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 49.5%;
		padding-bottom:2.2%;
		border-bottom: .05em solid #e0e0e0;
		padding-top: 6%;
		padding-left: 5.7%;

		.nav_link{
			width: 86%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 7%;

			.link{
				font-weight: normal;
				font-size:1.27rem;
				text-decoration: none;
				color:$dark;


				&:hover{
					text-decoration: underline;
					font-weight: bold;
				}
			}

			.quan_message{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 12.4%;
				height: 2.25em;
				border-radius: 100px;
				background: $purple;
				color:$wc;
				text-decoration: none;
				font-weight: bold;
				font-size:.7rem;
				margin-bottom: -2%;
				margin-right: .8%;

				&.hidden_display{
					display: none;
				}
			}
		}
	}

	.popular{
		width: 56.3%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		padding-top: 7%;
		padding-left: 12.7%;

		h2{
			font-size:1.25rem;
			font-weight: bold;
			flex-basis: 100%;
			padding-bottom: 0%;
		}

		.wrapper_scroll{
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			position: relative;
			padding-top: 10%;
			width: 100%;
			height: 26.2em;

		}

		.popular_account{
			flex-basis: 42.7%;
			height: 6.2em;
			overflow:hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&.online{

				&:after{
					content:"";
					background-color: $green;
					position: absolute;
					width: 10%;
					height: .6em;
					border-radius:20px;
					top:10%;
					left: 10%;
					z-index: 12;
				}
			}

			&:after{
				content:"";
			}

			&:before{
			    content:"";
			    width: 100%;
			    height: 6.3em;
			    position: absolute;
			    z-index: 10;
			    background: rgba(0,0,0,0);
			    transition:$animate;
			    transform:scale3d(.3,.3,.3) rotate(45deg);
			}

			img{
				padding: 0;
				margin: 0;
				width: 100%;
			}

			.hover_hidden{
				position: absolute;
				color:transparent;
				fill:$wc;
				opacity: 0;
				width: 20%;
			    transition:$animate;
			    transform:scale3d(2,2,2);
			    z-index: 11;
			}

			&:hover{

				&:before{
			   		background: rgba(0,0,0, .722);
				    transition:$animate;
				    transform:scale3d(2,2,2) rotate(45deg);
				}

				.hover_hidden{
					color:$wc;
					opacity: 1;
				    transition:$animate;
			    	transform:scale3d(1,1,1);
				}
			}
		}
	}
}

main{
	width: 75%;
	box-shadow:0px -5px 50px 10px rgba(0,0,0, .2);
}

.main_content{
	width: 76%;

	.name_profile_main{
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 4.3%;

		hgroup{
			h1{
				padding-top: 19%;
				font-size:2.3rem;
				font-weight: bold;
			}

			h2{
				font-size:.91rem;
				padding-top: 3%;
			}
		}

		.configurations{
			fill:#c0c0c0;
			width: 3.6%;
			transform:translate3D(-25%,37%,0);
		}
	}
}

.gallery{
	display: flex;
	width: 100%;
	padding-top: 2.2%;

	a{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16.6666666666666667%;
		overflow:hidden;

		&.add_photo{
			background: $purple;
			height: 8.5sem;
			background-size: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			svg{
				position: absolute;
				fill:$wc;
				width: 40%;
				top:-9%;
			}

			&:before{
				content:"Add photos";
				font-size:.62rem;
				color:$wc;
				position: absolute;
				top:72%;

			}
		}

		&.photo_added{
			position: relative;

			img{
				width: 100%;
			}

			&:before{
				content:"";
				width: 100%;
				height: 8em;
				position: absolute;
				transform:scale3D(.3,.3,.3) rotate(45deg);
			    background: rgba(0,0,0,0);
			    transition:$animate;

			}

			.hover_zoom{
				color:transparent;
				width: 13%;
				fill:$wc;
				opacity: 0;
				position: absolute;
				transform:scale3D(2,2,2);
				transition:$animate;
			}

			&:hover{

				&:before{
					transform:scale3D(3.3,3.3,3.3) rotate(45deg);
				    background: rgba(0,0,0,.772);
				    transition:$animate;
				}

				.hover_zoom{
					opacity: 1;
					transform:scale3D(1.5,1.5,1.5);
					transition:$animate;
					color:$wc;
				}
			}
		}

		&.empty_img{
			background: $slv;
			background-size: 40%;
			display: flex;
			justify-content: center;
			align-items: center;

			svg{
				width: 2%;
				fill:#d4d4d4;
				position: absolute;
			}
		}
	}
}

.header_blocks{
	width: 97.5%;
	display: flex;
	justify-content: space-between;

	h2{
		font-size:1.3rem;
		font-weight: bold;
	}

	.edit_info{
		width: 3.8%;
		transform:translate3D(50%,-20%,0);

		svg{
			fill:$purple;
		}
	}
}

.table_info{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 4.7%;
	padding-bottom: 5.8%;
	width: 90%;
	border-bottom: .05em solid #e0e0e0;
	margin-left: 4.2%;
		
	.row{
		display: flex;
		justify-content: flex-start;
		width: 100%;


		.td_0{
			flex-basis: 23%;
			font-weight: normal;
			padding-top: 1.4%;
			font-size:.95rem;

		}

		.td_1{
			flex-basis: 28%;
			font-size:.95rem;
			font-weight: 600;
			padding-top:1.4%;
		}

		.td_2{
			flex-basis: 23.4%;
			font-size:.95rem;
			padding-top:1.4%;
		}

		.td_3{
			font-size:.95rem;
			font-weight: 600;
			padding-top:1.4%;
		}
	}
}

.wans_visit{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 3.7%;
	padding-bottom: 5.8%;
	width: 90%;
	border-bottom: .05em solid #e0e0e0;
	margin-left: 4.2%;

	.country_link{
		padding-left: 4.2%;
		padding-right: 4.2%;
		padding-top: 1.3%;
		padding-bottom: 1.4%;
		margin-top:2%;
		text-decoration: none;
		color:$dark;
		font-size:.95rem;
		text-align: center;
		margin-right: .7%;
		background: $slv;
		border-radius:100px;
	}
}

.about_the_person{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 3.7%;
	padding-bottom: 14%;
	width: 90%;
	margin-left: 4.2%;

	p{
		padding-top: 1%;
		font-size:.6rem;
		line-height: 2em;
	}
}

footer{
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	background: transparent url(../img/back_footer.png) center no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	padding-left: 13.4%;

	a{
		color:$wc;
		text-decoration: none;
		margin-left: 0%;
		margin-right: 1.2%;
		font-size:.75rem;

		&:hover{
			text-decoration: underline;
		}
	}
}